/*/*.obj
/testProgs/*.exe
/BasicUsageEnvironment/libBasicUsageEnvironment.lib
/groupsock/libgroupsock.lib
/UsageEnvironment/libUsageEnvironment.lib
/liveMedia/libliveMedia.lib
/.vs/*
/BasicUsageEnvironment/BasicUsageEnvironment.dir/*
/ALL_BUILD.vcxproj
/ALL_BUILD.vcxproj.filters
/BasicUsageEnvironment/BasicUsageEnvironment.vcxproj
/BasicUsageEnvironment/BasicUsageEnvironment.vcxproj.filters
/BasicUsageEnvironment/BasicUsageEnvironment.vcxproj.user
/BasicUsageEnvironment/cmake_install.cmake
/BasicUsageEnvironment/CMakeFiles/generate.stamp
/BasicUsageEnvironment/CMakeFiles/generate.stamp.depend
/BasicUsageEnvironment/Debug/BasicUsageEnvironment.lib
/BasicUsageEnvironment/Debug/BasicUsageEnvironment.pdb
/cmake_install.cmake
/CMakeCache.txt
/CMakeFiles/*
/groupsock/groupsock.dir/*
/liveMedia/livemedia.dir/*
/testProgs/testMPEG4VideoStreamer.dir/*
/UsageEnvironment/UsageEnvironment.dir/*
/x64/*
/groupsock/cmake_install.cmake
/groupsock/CMakeFiles/generate.stamp
/groupsock/CMakeFiles/generate.stamp.depend
/groupsock/Debug/groupsock.lib
/groupsock/Debug/groupsock.pdb
/groupsock/groupsock.vcxproj
/groupsock/groupsock.vcxproj.filters
/livemedia.sln
/liveMedia/cmake_install.cmake
/liveMedia/CMakeFiles/generate.stamp
/liveMedia/CMakeFiles/generate.stamp.depend
/liveMedia/Debug/livemedia.lib
/liveMedia/Debug/livemedia.pdb
/liveMedia/livemedia.vcxproj
/liveMedia/livemedia.vcxproj.filters
/testProgs/cmake_install.cmake
/testProgs/CMakeFiles/generate.stamp
/testProgs/CMakeFiles/generate.stamp.depend
/testProgs/Debug/test.m4e
/testProgs/Debug/testMPEG4VideoStreamer.exe
/testProgs/Debug/testMPEG4VideoStreamer.ilk
/testProgs/Debug/testMPEG4VideoStreamer.pdb
/testProgs/testMPEG4VideoStreamer.vcxproj
/testProgs/testMPEG4VideoStreamer.vcxproj.filters
/testProgs/testMPEG4VideoStreamer.vcxproj.user
/UsageEnvironment/cmake_install.cmake
/UsageEnvironment/CMakeFiles/generate.stamp
/UsageEnvironment/CMakeFiles/generate.stamp.depend
/UsageEnvironment/Debug/UsageEnvironment.lib
/UsageEnvironment/Debug/UsageEnvironment.pdb
/UsageEnvironment/UsageEnvironment.vcxproj
/UsageEnvironment/UsageEnvironment.vcxproj.filters
/ZERO_CHECK.vcxproj
/ZERO_CHECK.vcxproj.filters
